h1{
    clear: both;
}
#showGIF{
    width: 1600px;
    margin: auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
    grid-template-columns: 460px 460px 460px;
    text-align: center;
}
.con{
    float: left;
    width: 460px;
}
.gif{
    width: 460px;
    height: 460px;
}